Source: ninjam
Section: net
Priority: optional
Maintainer: Tobias Gehrig <tobias@gehrignet.de>
Build-Depends:
 debhelper (>= 9),
 libasound2-dev,
 libjack-jackd2-dev | libjack-dev,
 libncurses5-dev,
 libogg-dev,
 libvorbis-dev,
Standards-Version: 3.7.2
Homepage: https://github.com/libninjam/libninjam

Package: libninjam-common-dev
Section: devel
Architecture: any
Depends: libninjam-common
Description: Development files for libninjam-common
 NINJAM is a program to allow people to make real music together
 via the Internet. Every participant can hear every other participant.
 Each user can also tweak their personal mix to his or her liking.

Package: libninjam-common
Section: libs
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Realtime Music Collaboration Software (Common Library)
 NINJAM is a program to allow people to make real music together
 via the Internet. Every participant can hear every other participant.
 Each user can also tweak their personal mix to his or her liking.

Package: libninjam-client-dev
Section: devel
Architecture: any
Depends:
 libninjam-client,
 libninjam-common-dev
Description: Development files for libninjam-client
 NINJAM is a program to allow people to make real music together
 via the Internet. Every participant can hear every other participant.
 Each user can also tweak their personal mix to his or her liking.

Package: libninjam-client
Section: libs
Architecture: any
Depends:
 libninjam-common,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Realtime Music Collaboration Software (Client Library)
 NINJAM is a program to allow people to make real music together
 via the Internet. Every participant can hear every other participant.
 Each user can also tweak their personal mix to his or her liking.

Package: ninjam-server
Section: net
Architecture: any
Depends:
 libninjam-common,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Realtime Music Collaboration Software (Server)
 NINJAM is a program to allow people to make real music together
 via the Internet. Every participant can hear every other participant.
 Each user can also tweak their personal mix to his or her liking.

Package: ninjam-client
Section: net
Architecture: any
Depends:
 libninjam-client,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Realtime Music Collaboration Software (Client)
 NINJAM is a program to allow people to make real music together
 via the Internet. Every participant can hear every other participant.
 Each user can also tweak their personal mix to his or her liking.
